
body {
    background-color: #404040;
}
h1 {
    color: #B2B2B5;
}
a {
    color: #77ff77;
}
li {
    margin-bottom: 15px;
}
input {
    border-radius: 5px;
}
.user-create-form {
    width: 170px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.results {
    width: 300px;
}
.form-bg {
    background-color: #B8B8BB;
    margin: 0 auto 0 auto;
    padding: 20px auto 20px auto;
    border-radius: 20px;
    width: 200px;
}
.calc {
    padding-top: 20px;
    padding-bottom: 20px;

}
select {
  font-size: 32px;
}