{% extends 'base.html' %}

{% block content %}
    <div class="text-center bring-down row">
    <div class="col-md-3 col-md-offset-3">
        <h1>Maths</h1>
        <div class="form-bg calc">
        <form method="post">
            {% csrf_token %}
            <ul class="list-unstyled">
                {% if result != 0 %}
                    <li>{{ next_math.num1 }} </li>
                {% endif %}
                {% if result == 0 %}
                    <li>{{ form.num1 }}</li>
                {% endif %}
                <li>{{ form.operator }}</li>
                <li>{{ form.num2 }}</li>
                <li><input class="btn btn-default" type="submit" value="Do Math!"></li>
            </ul>
            {% if result != 0 %}
                <p class="badge">{{ num1 }} {{ operator }} {{ num2 }} = {{ result }}</p><br>
                <a class="btn btn-default" href="{% url 'index' %}">Clear</a>
            {% endif %}
        </form>
        </div>
    </div>
    </div>
{% endblock %}